Console/Workspace_v2.12/Modules/DCM/Metadata/test/ATTO_MeatdataSchemaDraftVers13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://tempuri.org/XMLSchema.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/XMLSchema.xsd"
    xmlns:mstns="http://tempuri.org/XMLSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
>
  <xs:element name="Metadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DatasetLevelMetadata">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Dataset">
                <xs:complexType>
                  <xs:sequence>

                    <xs:element name="Title" type="xs:string" minOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Title of the dataset to be uploaded to the ATTO data portal.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Abstract" type="xs:string" minOccurs="1">
                      <xs:annotation>
                        <xs:documentation>A brief overview of the resource to be uploaded to the ATTO data portal. The abstract should include basic information that summarizes the dataset. Example: Dataset provides information about water temperature collected in Lake Candia.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="DataOfPhdThesis" type="xs:boolean" minOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Was the dataset collected as part of a doctoral thesis? If so, data users are obliged to consider the special regulations in the data policy regarding PhD data.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Keywords" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Provide a set of related keywords describing the content of the dataset. Please separate the keywords with commas (e.g. flux, CO2, tower).</xs:documentation>
                      </xs:annotation>
                    </xs:element>        
                       
                    <xs:element name="IdentifierType" type="relatedIdentifierType" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Applies only for data sets, which will be published via MPDL. A persistent identifier that identifies a dataset, assigned by the MPDL for this dataset. Currently, only DOI is possible.</xs:documentation>
                       </xs:annotation>
                    
                       </xs:element>
                    
                     <xs:element name="IdentifierValue" type="xs:string" minOccurs="0">
                       <xs:annotation>
                         <xs:documentation>Applies only for data sets, which will be published via MPDL. Please insert the DOI assigned by the MPDL. e.g. 10.17871/atto_xxxx</xs:documentation>
                       </xs:annotation>
                     </xs:element>                                  
                      
                    <xs:element name ="DataCreators">
                      <xs:annotation>
                        <xs:documentation>The main researchers involved working on the data, or the authors of the publication in priority order. May be a corporate/institutional or personal name.</xs:documentation>
                        <xs:documentation> Name format: Given Family</xs:documentation>
                      </xs:annotation>
                      
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="DataCreator"                                
                                      type="contact"
                                      minOccurs="1"
                                      maxOccurs="unbounded"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                                   
                    <xs:element name ="DataOwners">
                      <xs:annotation>
                        <xs:documentation>Person(s) who own this dataset.</xs:documentation>
                        <xs:documentation> Name format: Given Family</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>

                          <xs:element name="DataOwner"
                                      type="contact"
                                      minOccurs="1"
                                      maxOccurs="unbounded"/>

                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name ="DataContributors">
                      <xs:annotation>
                        <xs:documentation>Person(s) contributed to the data or/and helped to collect the data.</xs:documentation>
                        <xs:documentation> Name format: Given Family</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>

                          <xs:element name="DataContributor"
                                      type="contact"
                                      minOccurs="1"
                                      maxOccurs="unbounded"/>

                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                     
                   <xs:element name="Publisher" type="Publisher" fixed="Max Planck Institute for Biogeochemistry, Jena" minOccurs="0">
                     <xs:annotation>
                       <xs:documentation>Applies only for datasets, which will be published via MPDL. The name of the entity that holds, archives, publishes the dataset. In the case of datasets, "publish" is understood to mean making the data available to the community of researchers.</xs:documentation>
                     </xs:annotation>
                   </xs:element>

                    <xs:element name="Contributor" type="Contributor" fixed="INPA" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Applies only for datasets, which will be published via MPDL. The institution responsible for collecting, managing, distributing, publishing or otherwise contributing to the development of the resource.</xs:documentation>
                      </xs:annotation>
                    </xs:element>

                    <xs:element name="ContributorType" type="ContributorType" fixed="Sponsor" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Applies only for datasets, which will be published via MPDL. Person or organisation that issued a contract or under the auspices of which a work has been written, printed, published, developed, etc.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    
                    <xs:element name="ContributorName" type="ContributorName" fixed="Instituto Nacional de Pesquisas da Amazônia, Manaus" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Applies only for datasets, which will be published via MPDL. The institution responsible for collecting, managing, distributing, publishing or otherwise contributing to the development of the resource.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    
                  <xs:element name="PublicationYear" type="yearType" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>Applies only for datasets, which will be published via MPDL. Year when the data is made publicly available. If an embargo period has been in effect, use the date when the embargo period ends.</xs:documentation>
                      <xs:documentation> YYYY</xs:documentation>
                    </xs:annotation>
                  </xs:element>

                  <xs:element name="DataClassification" type="dataClass" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Principal classification of the data to be uploaded to the ATTO data portal.</xs:documentation>
                      </xs:annotation>
                    </xs:element>

                  <xs:element name="ResourceType" type="resourceType" minOccurs="0">
					          <xs:annotation>
						          <xs:documentation>The type of the dataset to be uploaded to the ATTO data portal.</xs:documentation>
					          </xs:annotation>
				          </xs:element>

                    <xs:element name="Format" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Technical format of the original resource.</xs:documentation>
                        <xs:documentation> Use file extension or MIME type where possible. E.g. jpg, png, xlsx, csv, dat ... </xs:documentation>
                      </xs:annotation>
                    </xs:element>
                         
                 <xs:element name="Version" type="xs:string" minOccurs="0">
					          <xs:annotation>
						         <xs:documentation>Version number of the resource/dataset. If the primary resource has changed the version number increases.</xs:documentation>
						         <xs:documentation> Register a new identifier for a major version change. Individual stewards need to determine which are major vs. minor versions.</xs:documentation>
					         </xs:annotation>
				         </xs:element>             
                 
                  </xs:sequence>
                </xs:complexType>
              </xs:element>             
                    
              <xs:element name="Data">
                <xs:complexType>
                  <xs:sequence>

                    <xs:element name="DatasetMethodSpecification" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Provide a documentation of the procedures followed to produce any object in the dataset to be uploaded to the ATTO data portal. These shall include information about procedure steps, software used within individual steps and source data.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="DatasetSamplingSpecification" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Allows for a text-based/human readable description of the actual sampling procedures used within the dataset collection. This element shall include information about dataset lineage.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="DatasetSamplingEquipmentInfo" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Provides information about any instruments used in the data collection or quality control and quality assurance. The description should include vendor, model number, optional equipment, etc.</xs:documentation>
                      </xs:annotation>
                    </xs:element>

                    <xs:element name="DataProcessingLevel"
                                type="xs:string"
                                minOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Processing level of the data to be uploaded to the ATTO data portal. E.g. Level 1B for unit processed data according to the NASA data processing level standards or Level 2A for processed and aggregated data according to the AmeriFlux.</xs:documentation>
                      </xs:annotation>
                    </xs:element>

                    <xs:element name="DataProcessingLevelStandards"
                                type="xs:string"
                                minOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Processing level standards used, e.g. NASA or AmeriFlux and European Fluxes networks.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    
                    <xs:element name="DataCollectionLayer"
                                type="layer"
                                minOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Information if the data were collected above or below ground.</xs:documentation>
                      </xs:annotation>
                    </xs:element>

                    <xs:element name="LayerStart" type="xs:decimal" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Start height/depth of layer in cm</xs:documentation>
                      </xs:annotation>
                    </xs:element>

                    <xs:element name="LayerEnd" type="xs:decimal" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>End height/depth of layer in cm</xs:documentation>
                      </xs:annotation>
                    </xs:element>

                    <xs:element name="StartDate" type="xs:date">
                      <xs:annotation>
                        <xs:documentation>Start date of the data/time series.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="EndDate" type="xs:date" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>End date of the data/time series.</xs:documentation>
                      </xs:annotation>
                    </xs:element>

                    <xs:element name="TemporalResolution" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Information about the temporal resolution of the data/time series e.g. 1 min, monthly.</xs:documentation>
                      </xs:annotation>
                    </xs:element>

                    <xs:element name="NumberOfParameters" type="xs:int" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Information about the number of parameters in the dataset.</xs:documentation>
                      </xs:annotation>
                    </xs:element>

                    <xs:element name="Location"
                                      type="location"
                                      minOccurs="1">
                      <xs:annotation>
                        <xs:documentation>Information about the location at the ATTO site where measurements were taken. Please use the common name, which is also given in the general map provided by the coordinators.</xs:documentation>
                      </xs:annotation>
                    </xs:element>

                    <xs:element name="LocationOther" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>In case "Other" is selected in the field "Location", please enter here the name and/or coordinates of the location (e.g. Tall Tower (S 02 08.756 W 059 00.335)).</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    
                    <xs:element name="Abbreviations" minOccurs="1">
                        <xs:annotation>
                        <xs:documentation>Abbreviations used in the dataset to be uploaded to the ATTO data portal (e.g. m for meters, t for tonnes).</xs:documentation>
                        </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>

                          <xs:element name="Abbreviation"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>

                                <xs:element name="Abbreviation" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>Abbreviations used in the dataset to be uploaded to the ATTO data portal (e.g. m, t).</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="Description" type="xs:string" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Long-form of the abbreviations used in the dataset to be uploaded to the ATTO data portal (e.g. meters, tonnes).</xs:documentation>
                                  </xs:annotation>
                                </xs:element>

                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>

                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>   

                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DataQuality" minOccurs="1">
                <xs:annotation>
                  <xs:documentation>Quality assurance - has the  dataset undergone any quality checks?</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>

                    <xs:element name="CheckPerformed" type="xs:boolean">
                      <xs:annotation>
                        <xs:documentation>Quality assurance - has the  dataset undergone any quality checks?</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="Issues" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Mention the inconsistencies or errors present in the dataset to be uploaded to the ATTO data portal.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="CurationInfo" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Information about data curation.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PlotInfo" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>In case the dataset is based on a plot experiment, please insert additional information here.</xs:documentation>
                      </xs:annotation>
                <xs:complexType>
                  <xs:sequence>

                    <xs:element name="TotalPlots" type="xs:int" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Total number of plots the dataset is based on.</xs:documentation>
                      </xs:annotation>
                    </xs:element>

                    <xs:element name="Plot"
                                maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>

                          <xs:element name="PlotSize" type="xs:decimal" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Plotsize in sqm.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="NumberOfPlots" type="xs:int" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Number of plots of particular size on which dataset is based.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="SubPlots"
                                      minOccurs="0"
                                      maxOccurs="unbounded">
                            <xs:annotation>
                             <xs:documentation>In case the experiment contains subplots, please insert additional information here.</xs:documentation>
                           </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>

                                <xs:element name="SubPlotSize" type="xs:decimal" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Subplotsize in sqm.</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="NumberOfSubplots" type="xs:int" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Number of subplots of particular size on which dataset is based.</xs:documentation>
                                  </xs:annotation>
                                </xs:element>

                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>

                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                                  
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="Software">
                  <xs:annotation>
                   <xs:documentation>Information on the software used for dataset creation, quality check and assurance.</xs:documentation>
                  </xs:annotation>
                <xs:complexType>
                  <xs:sequence>

                    <xs:element name="Application" 
                                minOccurs="1"
                                maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>

                          <xs:element name="Name" type="xs:string" minOccurs="1">
                            <xs:annotation>
                              <xs:documentation>Name of the software used for dataset creation, quality check and assurance.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Version" type="xs:string" minOccurs="1">
                            <xs:annotation>
                              <xs:documentation>If applicable, version of the software.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Availability">
                            <xs:complexType>
                              <xs:sequence>

                                <xs:element name="CompanyName" type="xs:string" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Name of the Software developer.</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="URL" type="xs:anyURI" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>URL of the Software developer.</xs:documentation>
                                  </xs:annotation>
                                </xs:element>

                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>

                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="AdditionalInfo" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Provide information if any additional related datasets where used to create this dataset, if applicable.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    
                    <xs:element name="RelatedDataset" type="xs:string" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Provide information if any additional related datasets where used to create this dataset, if applicable.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="DatasetLevelAdditionalMetadata"
                                type="xs:string"
                                minOccurs="0"/>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="EnvironmentalLevelMetadata" minOccurs="1" >
          <xs:annotation>
            <xs:documentation>Provide information on the environmental and coverage data of the dataset to be uploaded to the ATTO data portal.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SpatialCoverage" type="spatialcoverage">
                <xs:annotation>
                  <xs:documentation>Provide information on the spatial coverage of the dataset to be uploaded to the ATTO data portal, e.g. Local; Regional; National; Continental; Global.</xs:documentation>
                </xs:annotation>
              </xs:element>

              <xs:element name="GeoreferenceSource"
                          type="xs:string"
                          minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Source used for georeferencing such as gazetter, online resource url and name, gps type etc.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="GeoreferenceRemarks"
                          type="xs:string"
                          minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Remarks related to georeferencing.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="GeoLocations">
                <xs:annotation>
                  <xs:documentation>Provide detailed information about the location at the ATTO site where measurements were taken.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    
                    <xs:element name="GeoLocation"
                                minOccurs="1"
                                maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                    
                          <xs:element name="GeoLocationName"
                                      type="xs:string">
                            <xs:annotation>
                              <xs:documentation>Provide detailed information about the location at the ATTO site where measurements were taken.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Latitude"
                                      type="latitude">
                            <xs:annotation>
                              <xs:documentation>Latitude of the location in decimals.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Longitude"
                                      type="longitude">
                            <xs:annotation>
                              <xs:documentation>Longitude of the location in decimals.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          
                          <xs:element name="CoordinateReferenceSystem"
                                      type="coordinateReferenceSystem"
                                      default="WGS84"
                                      minOccurs="1">
                            <xs:annotation>
                              <xs:documentation>WGS 84; UTM Zone 38 North ETRS89 etc.</xs:documentation>
                            </xs:annotation>
                          </xs:element>

                          <xs:element name="Precision"
                                     type="xs:string"
                                     minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>How precise is the location Lat/Long reading?</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          
                          <xs:element name="Altitude"
                                      type="altitude"
                                      minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Altitude of the location in metres.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Depth"
                                      type="depth"
                                      minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>If aquatic then depth of the location.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                                                   
                          <xs:element name="Slope"
                                      type="slope"
                                      minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Angle of the slope.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Aspect"
                                      type="aspect"
                                      minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Direction of the slope.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="Habitat"
                                      type="xs:string"
                                      minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Habitat info of the location.</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                   
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              
              <xs:element name="Remarks" minOccurs="0">
                <xs:annotation>
                  <xs:documentation>Additional environmental metadata that you think is not covered in this schema.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>

                    <xs:element name="EnvironmentalLevelAdditionalMetadata"
                                type="xs:string"
                                minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Additional environmental metadata that you think is not covered in this schema.</xs:documentation>
                      </xs:annotation>
                    </xs:element>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType> 
        </xs:element>


        <xs:element name="PublishedIn" minOccurs="1">
          <xs:annotation>
            <xs:documentation>If data are already published in a repository or in the context of a paper, please insert here the respective DOI. e.g. 10.17871/atto_xxxx</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DOI"  type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>If data are already published in a repository or in the context of a paper, please insert here the respective DOI. e.g. 10.17871/atto_xxxx</xs:documentation>
                </xs:annotation>
              </xs:element>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>


        <xs:element name="Project">
          <xs:annotation>
            <xs:documentation>Name of the project for which the dataset is collected. A project can have many datasets with different dataset titles.</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ProjectTitle" type="xs:string">
                <xs:annotation>
                  <xs:documentation>Name of the project for which the dataset is collected. A project can have many datasets with different dataset titles.</xs:documentation>
                </xs:annotation>
              </xs:element>
              
              <xs:element name="Funders" minOccurs="1">
                        <xs:annotation>
                        <xs:documentation>Information about the funder(s) of the Project e.g. BMBF, INPA.</xs:documentation>
                        </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>

                          <xs:element name="Funder"
                                      maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:sequence>

                                <xs:element name="Funder" type="xs:string">
                                  <xs:annotation>
                                    <xs:documentation>Funder of the Project e.g. BMBF, INPA.</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="FunderIdentifier" type="xs:string" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Uniquely identifies a funding entity, according to various types.</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="AwardNumber" type="xs:string" minOccurs="0">
                                 <xs:annotation>
                                  <xs:documentation>The code assigned by the funder to a sponsored award (grant).</xs:documentation>
                                 </xs:annotation>
                               </xs:element>
                               <xs:element name="AwardTitle" type="xs:string" minOccurs="0">
                                 <xs:annotation>
                                  <xs:documentation>The human readable title of the award (grant).</xs:documentation>
                                 </xs:annotation>
                               </xs:element>

                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>

                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>   
                
              

            </xs:sequence>
          </xs:complexType>
        </xs:element>
              
      </xs:sequence>
          </xs:complexType>
        </xs:element>
  
  <xs:simpleType name="Publisher">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Max Planck Institute for Biogeochemistry, Jena"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="  Contributor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INPA"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="  ContributorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sponsor"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="  ContributorName">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Instituto Nacional de Pesquisas da Amazônia, Manaus"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="relatedIdentifierType">
    <xs:annotation>
      <xs:documentation>The type of the RelatedIdentifier.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ARK"/>
      <xs:enumeration value="arXiv"/>
      <xs:enumeration value="bibcode"/>
      <xs:enumeration value="DOI"/>
      <xs:enumeration value="EAN13"/>
      <xs:enumeration value="EISSN"/>
      <xs:enumeration value="Handle"/>
      <xs:enumeration value="IGSN"/>
      <xs:enumeration value="ISBN"/>
      <xs:enumeration value="ISSN"/>
      <xs:enumeration value="ISTC"/>
      <xs:enumeration value="LISSN"/>
      <xs:enumeration value="LSID"/>
      <xs:enumeration value="PMID"/>
      <xs:enumeration value="PURL"/>
      <xs:enumeration value="UPC"/>
      <xs:enumeration value="URL"/>
      <xs:enumeration value="URN"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:simpleType name="location">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Tall Tower (S 02 08.756 W 059 00.335)"/>
      <xs:enumeration value="Walk-Up Tower (S 02 08.637 W 058 59.992)"/>
      <xs:enumeration value="Triangular Mast (S 02 08.603 W 059 00.030)"/>
      <xs:enumeration value="River"/>
      <xs:enumeration value="Tree(s)"/>
      <xs:enumeration value="Soil"/>
      <xs:enumeration value="Other"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!--<xs:simpleType name="level">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Level 0"/>
      <xs:enumeration value="Level 1A"/>
      <xs:enumeration value="Level 1B"/>
      <xs:enumeration value="Level 2"/>
      <xs:enumeration value="Level 3"/>
      <xs:enumeration value="Level 4"/>
    </xs:restriction>
  </xs:simpleType>-->

  <xs:simpleType name="layer">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Above ground"/>
      <xs:enumeration value="Below ground"/>
      <xs:enumeration value="Above and below ground"/>
      <xs:enumeration value="In water"/>
      <xs:enumeration value="Other"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="aspectdegree">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="360"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="aspect">
    <xs:restriction base="xs:string">
      <xs:enumeration value="North"/>
      <xs:enumeration value="North North East"/>
      <xs:enumeration value="North East"/>
      <xs:enumeration value="East North East"/>
      <xs:enumeration value="East"/>
      <xs:enumeration value="East South East"/>
      <xs:enumeration value="South East"/>
      <xs:enumeration value="South South East"/>
      <xs:enumeration value="South"/>
      <xs:enumeration value="South South West"/>
      <xs:enumeration value="South West"/>
      <xs:enumeration value="West South West"/>
      <xs:enumeration value="West"/>
      <xs:enumeration value="West North West"/>
      <xs:enumeration value="North West"/>
      <xs:enumeration value="North North West"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="slope">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="90"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="coordinateReferenceSystem">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ED50"/>
      <xs:enumeration value="SAD69"/>
      <xs:enumeration value="GRS 80"/>
      <xs:enumeration value="NAD83"/>
      <xs:enumeration value="WGS84"/>
      <xs:enumeration value="NAVD88"/>
      <xs:enumeration value="ETRS89"/>
      <xs:enumeration value="GCJ-02"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="latitude">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="-90"/>
      <xs:maxInclusive value="90"/>              
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="longitude">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="-180"/>
      <xs:maxInclusive value="180"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="altitude">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="8848"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="depth">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:maxInclusive value="11.034"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="spatialcoverage">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Local"/>
      <xs:enumeration value="Regional"/>
      <xs:enumeration value="National"/>    
      <xs:enumeration value="Continental"/>
      <xs:enumeration value="Global"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!--<xs:simpleType name="language">
    <xs:restriction base="xs:string">
      <xs:enumeration value="English"/>
      <xs:enumeration value="Portuguese"/>
      <xs:enumeration value="German"/>
      <xs:enumeration value="French"/>
      <xs:enumeration value="Spanish"/>
    </xs:restriction>
  </xs:simpleType>-->

  <xs:simpleType name="country">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Afghanistan"/>
      <xs:enumeration value="Akrotiri"/>
      <xs:enumeration value="Albania"/>
      <xs:enumeration value="Algeria"/>
      <xs:enumeration value="American Samoa"/>
      <xs:enumeration value="Andorra"/>
      <xs:enumeration value="Angola"/>
      <xs:enumeration value="Anguilla"/>
      <xs:enumeration value="Antarctica"/>
      <xs:enumeration value="Antigua and Barbuda"/>
      <xs:enumeration value="Argentina"/>
      <xs:enumeration value="Armenia"/>
      <xs:enumeration value="Aruba"/>
      <xs:enumeration value="Ashmore and Cartier Islands"/>
      <xs:enumeration value="Australia"/>
      <xs:enumeration value="Austria"/>
      <xs:enumeration value="Azerbaijan"/>
      <xs:enumeration value="Bahamas, The"/>
      <xs:enumeration value="Bahrain"/>
      <xs:enumeration value="Bangladesh"/>
      <xs:enumeration value="Barbados"/>
      <xs:enumeration value="Bassas da India"/>
      <xs:enumeration value="Belarus"/>
      <xs:enumeration value="Belgium"/>
      <xs:enumeration value="Belize"/>
      <xs:enumeration value="Benin"/>
      <xs:enumeration value="Bermuda"/>
      <xs:enumeration value="Bhutan"/>
      <xs:enumeration value="Bolivia"/>
      <xs:enumeration value="Bosnia and Herzegovina"/>
      <xs:enumeration value="Botswana"/>
      <xs:enumeration value="Bouvet Island"/>
      <xs:enumeration value="Brazil"/>
      <xs:enumeration value="British Indian Ocean Territory"/>
      <xs:enumeration value="British Virgin Islands"/>
      <xs:enumeration value="Brunei"/>
      <xs:enumeration value="Bulgaria"/>
      <xs:enumeration value="Burkina Faso"/>
      <xs:enumeration value="Burma"/>
      <xs:enumeration value="Burundi"/>
      <xs:enumeration value="Cambodia"/>
      <xs:enumeration value="Cameroon"/>
      <xs:enumeration value="Canada"/>
      <xs:enumeration value="Cape Verde"/>
      <xs:enumeration value="Cayman Islands"/>
      <xs:enumeration value="Central African Republic"/>
      <xs:enumeration value="Chad"/>
      <xs:enumeration value="Chile"/>
      <xs:enumeration value="China"/>
      <xs:enumeration value="Christmas Island"/>
      <xs:enumeration value="Clipperton Island"/>
      <xs:enumeration value="Cocos (Keeling) Islands"/>
      <xs:enumeration value="Colombia"/>
      <xs:enumeration value="Comoros"/>
      <xs:enumeration value="Congo, Democratic Republic of the"/>
      <xs:enumeration value="Congo, Republic of the"/>
      <xs:enumeration value="Cook Islands"/>
      <xs:enumeration value="Coral Sea Islands"/>
      <xs:enumeration value="Costa Rica"/>
      <xs:enumeration value="Cote d'Ivoire"/>
      <xs:enumeration value="Croatia"/>
      <xs:enumeration value="Cuba"/>
      <xs:enumeration value="Cyprus"/>
      <xs:enumeration value="Czech Republic"/>
      <xs:enumeration value="Denmark"/>
      <xs:enumeration value="Dhekelia"/>
      <xs:enumeration value="Djibouti"/>
      <xs:enumeration value="Dominica"/>
      <xs:enumeration value="Dominican Republic"/>
      <xs:enumeration value="Ecuador"/>
      <xs:enumeration value="Egypt"/>
      <xs:enumeration value="El Salvador"/>
      <xs:enumeration value="Equatorial Guinea"/>
      <xs:enumeration value="Eritrea"/>
      <xs:enumeration value="Estonia"/>
      <xs:enumeration value="Ethiopia"/>
      <xs:enumeration value="Europa Island"/>
      <xs:enumeration value="Falkland Islands (Islas Malvinas)"/>
      <xs:enumeration value="Faroe Islands"/>
      <xs:enumeration value="Fiji"/>
      <xs:enumeration value="Finland"/>
      <xs:enumeration value="France"/>
      <xs:enumeration value="French Guiana"/>
      <xs:enumeration value="French Polynesia"/>
      <xs:enumeration value="French Southern and Antarctic Lands"/>
      <xs:enumeration value="Gabon"/>
      <xs:enumeration value="Gambia, The"/>
      <xs:enumeration value="Gaza Strip"/>
      <xs:enumeration value="Georgia"/>
      <xs:enumeration value="Germany"/>
      <xs:enumeration value="Ghana"/>
      <xs:enumeration value="Gibraltar"/>
      <xs:enumeration value="Glorioso Islands"/>
      <xs:enumeration value="Greece"/>
      <xs:enumeration value="Greenland"/>
      <xs:enumeration value="Grenada"/>
      <xs:enumeration value="Guadeloupe"/>
      <xs:enumeration value="Guam"/>
      <xs:enumeration value="Guatemala"/>
      <xs:enumeration value="Guernsey"/>
      <xs:enumeration value="Guinea"/>
      <xs:enumeration value="Guinea-Bissau"/>
      <xs:enumeration value="Guyana"/>
      <xs:enumeration value="Haiti"/>
      <xs:enumeration value="Heard Island and McDonald Islands"/>
      <xs:enumeration value="Holy See (Vatican City)"/>
      <xs:enumeration value="Honduras"/>
      <xs:enumeration value="Hong Kong"/>
      <xs:enumeration value="Hungary"/>
      <xs:enumeration value="Iceland"/>
      <xs:enumeration value="India"/>
      <xs:enumeration value="Indonesia"/>
      <xs:enumeration value="Iran"/>
      <xs:enumeration value="Iraq"/>
      <xs:enumeration value="Ireland"/>
      <xs:enumeration value="Isle of Man"/>
      <xs:enumeration value="Israel"/>
      <xs:enumeration value="Italy"/>
      <xs:enumeration value="Jamaica"/>
      <xs:enumeration value="Jan Mayen"/>
      <xs:enumeration value="Japan"/>
      <xs:enumeration value="Jersey"/>
      <xs:enumeration value="Jordan"/>
      <xs:enumeration value="Juan de Nova Island"/>
      <xs:enumeration value="Kazakhstan"/>
      <xs:enumeration value="Kenya"/>
      <xs:enumeration value="Kiribati"/>
      <xs:enumeration value="Korea, North"/>
      <xs:enumeration value="Korea, South"/>
      <xs:enumeration value="Kuwait"/>
      <xs:enumeration value="Kyrgyzstan"/>
      <xs:enumeration value="Laos"/>
      <xs:enumeration value="Latvia"/>
      <xs:enumeration value="Lebanon"/>
      <xs:enumeration value="Lesotho"/>
      <xs:enumeration value="Liberia"/>
      <xs:enumeration value="Libya"/>
      <xs:enumeration value="Liechtenstein"/>
      <xs:enumeration value="Lithuania"/>
      <xs:enumeration value="Luxembourg"/>
      <xs:enumeration value="Macau"/>
      <xs:enumeration value="Macedonia"/>
      <xs:enumeration value="Madagascar"/>
      <xs:enumeration value="Malawi"/>
      <xs:enumeration value="Malaysia"/>
      <xs:enumeration value="Maldives"/>
      <xs:enumeration value="Mali"/>
      <xs:enumeration value="Malta"/>
      <xs:enumeration value="Marshall Islands"/>
      <xs:enumeration value="Martinique"/>
      <xs:enumeration value="Mauritania"/>
      <xs:enumeration value="Mauritius"/>
      <xs:enumeration value="Mayotte"/>
      <xs:enumeration value="Mexico"/>
      <xs:enumeration value="Micronesia, Federated States of"/>
      <xs:enumeration value="Moldova"/>
      <xs:enumeration value="Monaco"/>
      <xs:enumeration value="Mongolia"/>
      <xs:enumeration value="Montserrat"/>
      <xs:enumeration value="Morocco"/>
      <xs:enumeration value="Mozambique"/>
      <xs:enumeration value="Namibia"/>
      <xs:enumeration value="Nauru"/>
      <xs:enumeration value="Navassa Island"/>
      <xs:enumeration value="Nepal"/>
      <xs:enumeration value="Netherlands"/>
      <xs:enumeration value="Netherlands Antilles"/>
      <xs:enumeration value="New Caledonia"/>
      <xs:enumeration value="New Zealand"/>
      <xs:enumeration value="Nicaragua"/>
      <xs:enumeration value="Niger"/>
      <xs:enumeration value="Nigeria"/>
      <xs:enumeration value="Niue"/>
      <xs:enumeration value="Norfolk Island"/>
      <xs:enumeration value="Northern Mariana Islands"/>
      <xs:enumeration value="Norway"/>
      <xs:enumeration value="Oman"/>
      <xs:enumeration value="Pakistan"/>
      <xs:enumeration value="Palau"/>
      <xs:enumeration value="Panama"/>
      <xs:enumeration value="Papua New Guinea"/>
      <xs:enumeration value="Paracel Islands"/>
      <xs:enumeration value="Paraguay"/>
      <xs:enumeration value="Peru"/>
      <xs:enumeration value="Philippines"/>
      <xs:enumeration value="Pitcairn Islands"/>
      <xs:enumeration value="Poland"/>
      <xs:enumeration value="Portugal"/>
      <xs:enumeration value="Puerto Rico"/>
      <xs:enumeration value="Qatar"/>
      <xs:enumeration value="Reunion"/>
      <xs:enumeration value="Romania"/>
      <xs:enumeration value="Russia"/>
      <xs:enumeration value="Rwanda"/>
      <xs:enumeration value="Saint Helena"/>
      <xs:enumeration value="Saint Kitts and Nevis"/>
      <xs:enumeration value="Saint Lucia"/>
      <xs:enumeration value="Saint Pierre and Miquelon"/>
      <xs:enumeration value="Saint Vincent and the Grenadines"/>
      <xs:enumeration value="Samoa"/>                                       
      <xs:enumeration value="San Marino"/>                                  
      <xs:enumeration value="Sao Tome and Principe"/>                       
      <xs:enumeration value="Saudi Arabia"/>                                
      <xs:enumeration value="Senegal"/>                                     
      <xs:enumeration value="Serbia and Montenegro"/>                       
      <xs:enumeration value="Seychelles"/>                                  
      <xs:enumeration value="Sierra Leone"/>                                
      <xs:enumeration value="Singapore"/>                                   
      <xs:enumeration value="Slovakia"/>                                  
      <xs:enumeration value="Slovenia"/>                                    
      <xs:enumeration value="Solomon Islands"/>                             
      <xs:enumeration value="Somalia"/>                                     
      <xs:enumeration value="South Africa"/>
      <xs:enumeration value="South Georgia and the South Sandwich Islands"/>
      <xs:enumeration value="Spain"/>
      <xs:enumeration value="Spratly Islands"/>
      <xs:enumeration value="Sri Lanka"/>
      <xs:enumeration value="Sudan"/>
      <xs:enumeration value="Suriname"/>
      <xs:enumeration value="Svalbard"/>
      <xs:enumeration value="Swaziland"/>
      <xs:enumeration value="Sweden"/>
      <xs:enumeration value="Switzerland"/>
      <xs:enumeration value="Syria"/>
      <xs:enumeration value="Taiwan"/>
      <xs:enumeration value="Tajikistan"/>
      <xs:enumeration value="Tanzania"/>
      <xs:enumeration value="Thailand"/>
      <xs:enumeration value="Timor-Leste"/>
      <xs:enumeration value="Togo"/>
      <xs:enumeration value="Tokelau"/>
      <xs:enumeration value="Tonga"/>
      <xs:enumeration value="Trinidad and Tobago"/>
      <xs:enumeration value="Tromelin Island"/>
      <xs:enumeration value="Tunisia"/>
      <xs:enumeration value="Turkey"/>
      <xs:enumeration value="Turkmenistan"/>
      <xs:enumeration value="Turks and Caicos Islands"/>
      <xs:enumeration value="Tuvalu"/>
      <xs:enumeration value="Uganda"/>
      <xs:enumeration value="Ukraine"/>
      <xs:enumeration value="United Arab Emirates"/>
      <xs:enumeration value="United Kingdom"/>
      <xs:enumeration value="United States"/>
      <xs:enumeration value="Uruguay"/>
      <xs:enumeration value="Uzbekistan"/>
      <xs:enumeration value="Vanuatu"/>
      <xs:enumeration value="Venezuela"/>
      <xs:enumeration value="Vietnam"/>
      <xs:enumeration value="Virgin Islands"/>
      <xs:enumeration value="Wake Island"/>
      <xs:enumeration value="Wallis and Futuna"/>
      <xs:enumeration value="West Bank"/>
      <xs:enumeration value="Western Sahara"/>
      <xs:enumeration value="Yemen"/>
      <xs:enumeration value="Zambia"/>
      <xs:enumeration value="Zimbabwe"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:complexType name="contact">
    <xs:sequence>
      <xs:element name="Fullname"
                  type="xs:string">
        <xs:annotation>
          <xs:documentation>Fullname of the contact (e.g. John Doe).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Email"
                  type="email">
        <xs:annotation>
          <xs:documentation>Email of the contact (e.g. john@doe.com).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Institute"
                  type="xs:string"
                  minOccurs="1">
        <xs:annotation>
          <xs:documentation>Affiliation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Street"
                  type="xs:string"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>Street of the contact address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Zipcode"
                  type="xs:string"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>Postal code of the contact address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="City"
                  type="xs:string"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>City of the contact address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Country"
                  type="country"
                  minOccurs="0"
                  default="Germany">
        <xs:annotation>
          <xs:documentation>Country of the contact address.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="instituteContact">
    <xs:sequence>
      <xs:element name="Name"
                  type="xs:string">
        <xs:annotation>
          <xs:documentation>Name of the consortium, organisation or institute under which the project comes. Full name with title. No Abbreviations.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="URL"
                  type="xs:anyURI">
        <xs:annotation>
          <xs:documentation>URL of the consortium, organisation or institute.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Street"
                  type="xs:string"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>Street of the consortium, organisation or institute.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Zipcode"
                  type="xs:string"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>Postal code of the consortium, organisation or institute.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="City"
                  type="xs:string"
                  minOccurs="0">
        <xs:annotation>
          <xs:documentation>City of the consortium, organisation or institute.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Country"
                  type="country"
                  minOccurs="0"
                  default="Germany">
        <xs:annotation>
          <xs:documentation>Country of the consortium, organisation or institute.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="email">
    <xs:annotation>
      <xs:documentation>
        Email address
      </xs:documentation>
    </xs:annotation>

    <xs:restriction base="xs:string">
      <xs:pattern value="([a-zA-Z0-9_\-])([a-zA-Z0-9_\-\.]*)@(\[((25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\.){3}|((([a-zA-Z0-9\-]+)\.)+))([a-zA-Z]{2,}|(25[0-5]|2[0-4][0-9]|1[0-9][0-9]|[1-9][0-9]|[0-9])\])"/>
    </xs:restriction>
  </xs:simpleType>
  
   <xs:simpleType name="yearType">
		<xs:restriction base="xs:token">
			<xs:pattern value="(20)\d{2}"/>
		</xs:restriction>
	 </xs:simpleType>
  
    <xs:simpleType name="resourceType">
		  <xs:annotation>
			  <xs:documentation>The general type of a resource.</xs:documentation>
		  </xs:annotation>
		  <xs:restriction base="xs:string">
			  <xs:enumeration value="Audiovisual"/>
			  <xs:enumeration value="Collection"/>
			  <xs:enumeration value="Dataset"/>
			  <xs:enumeration value="Event"/>
			  <xs:enumeration value="Image"/>
			  <xs:enumeration value="InteractiveResource"/>
			  <xs:enumeration value="Model"/>
			  <xs:enumeration value="PhysicalObject"/>
			  <xs:enumeration value="Service"/>
			  <xs:enumeration value="Software"/>
			  <xs:enumeration value="Sound"/>
			  <xs:enumeration value="Text"/>
			  <xs:enumeration value="Workflow"/>
			  <xs:enumeration value="Other"/>
		  </xs:restriction>
	  </xs:simpleType>

  <xs:simpleType name="dataClass">
    <xs:annotation>
      <xs:documentation>The general classification of the dataset.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Observational"/>
      <xs:enumeration value="Experimental"/>
      <xs:enumeration value="Simulation"/>
      <xs:enumeration value="Derived"/>
      <xs:enumeration value="Metadata"/>
      <xs:enumeration value="Other"/>
    </xs:restriction>
  </xs:simpleType>
 
  </xs:schema>
